<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VueJS Workshop by ESFedyushkin</title>
    <!-- http://bulma.io -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <section class="hero is-medium is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        VueJS Workshop
                    </h1>
                    <h2 class="subtitle">
                        Demo with Fetching Data, Filter, Sorting On an example of the Avito goods.
                    </h2>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <!-- todo: Main Application, remove before workshops -->
                <h2 class="title is-2">{{ message }}</h2>
                <!-- <Message title="In progress">Content coming soon!</Message> -->
                <Search></Search>
                <div class="columns is-multiline" v-if="goods.length">
                    <Item v-for="item in goods" v-if="~item.title.indexOf(query)" :title="item.title" :seller="item.seller" :price="item.price" :text="item.text" :key="item.id"></Item>
                </div>
                <div v-else>
                    loading...
                </div>
            </div>
        </section>
        <Bottom></Bottom>
    </div>
    <script src="app.js"></script>
</body>
</html>
